mat-form-field
{
    width:60%;

}
.one
{
    width:50%;
    height:100%;
    /* border:2px solid red; */
    background-color: orange;
}
.main
{
  width:100%;
  height:100%;
    /* border:2px solid black; */
    display: flex;
}
img
{
   margin-top: 180px;
   margin-left: 180px; 
}

mat-card
{
align-items: center;
padding:10px;
width:400px;
margin-top:50px;
margin-left:100px;
}
.two
{
   
    margin-top:10%;
    width:50%;
    height:100%;

}
/* .imgdisp
{
    border: 2px solid black;
    height: fit;
} */
.below
{
    margin-top:10px;
}
a{
    cursor: pointer;
    
}
.link
{
    color:darkblue;
}
.reg-two
{
    /* margin-top:5%; */
    width:50%;
    height:100%;
}


#postbtn
{
    width:100px;
}
li{
    list-style-type: none;
}