<app-menubar></app-menubar>

<app-miniprod [prod]="products"></app-miniprod>

<table class="table">
  <thead class="thead-dark">
    <th>Nutritional value</th>
  </thead>
  <tbody>
    <tr>
     
      <td>Measure</td>
      <td>{{nvalue.Measure}}</td>
      
    </tr>
    <tr>
     
      <td>Grams</td>
      <td>{{nvalue.Grams}} gm</td>
     
    </tr>
    <tr>
     
      <td>Calories</td>
      <td>{{nvalue.Calories}} cal</td>
     
    </tr>
    <tr>
     
      <td>Protein</td>
      <td>{{nvalue.Protein}} gm</td>
     
    </tr>
    <tr>
     
      <td>Fat</td>
      <td>{{nvalue.Fat}} gm</td>
     
    </tr>
    <tr>
     
      <td>SatFat</td>
      <td>{{nvalue.SatFat}} gm</td>
     
    </tr>
    <tr>
     
      <td>Fiber</td>
      <td>{{nvalue.Fiber}} gm</td>
     
    </tr>
    <tr>
     
      <td>Carbs</td>
      <td>{{nvalue.Carbs}} gm</td>
     
    </tr>
    
     

  </tbody>
</table>