.dropdown
{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.display
{
    width:500px;
    margin-left:300px;
    margin-top:20px;
    display: flex;
    
}
.div1
{
    border:2px solid red;
}
.div2
{
    border:2px solid green;
}

.dispcard
{
    text-align: center;
   padding:50px;
   background-color: black;
   color: white;

}

.title
{
    display:flex; 
}
.dispcard1
{
    text-align: center;
   padding:30px;
   margin-left: 40px;
   background-color: black;
   color: white;
   width: 300px;

}


td{
    color:white;
}

.division
{
    display: flex;
    margin-left: 100px;
    margin-top: 10px;
  
}
mat-form-field
{
    padding:20px;
}
.prdisp
{
    margin-left: 30px;
}

.quandrp
{
    margin-left:200px;
}
.btn
{
    margin-left:100px;
    margin-top: 10px;
    border-radius: 20px;
   
}
